<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztgeo.workbench.mapper.NoticeTypeInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.ztgeo.workbench.entity.NoticeTypeInfo" id="noticeTypeInfoMap">
        <result property="Id" column="ID"/>
        <result property="typeId" column="type_id"/>
        <result property="typeDesc" column="type_desc"/>
        <result property="crtTime" column="crt_time"/>
        <result property="crtUserId" column="crt_user_id"/>
        <result property="updTime" column="upd_time"/>
        <result property="updUserId" column="upd_user_id"/>
    </resultMap>
    <!--根据userId获取通知方API信息 -->
    <select id="getAllTypeIdByUserId" resultMap="noticeTypeInfoMap">
        SELECT
        uki.`name`,nur.type_id
        FROM
        notice_base_info nbi
        LEFT JOIN notice_user_rel nur ON nbi.notice_id = nur.notice_id
        LEFT JOIN user_key_info uki ON nur.user_real_id = uki.user_real_id
        where nbi.user_real_id=#{userId}
        <if test="apiName!=null and apiName!=''">
             and uki.`name` like concat('%',#{apiName},'%')
        </if>
    </select>
</mapper>